## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P144;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P60;

# FPGA
NET CLK            LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET "CLK" TNM_NET = CLK;

# LED
NET LED(0)           LOC="P55"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C13
NET LED(1)           LOC="P50"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C14
NET LED(2)           LOC="P47"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C15
NET LED(3)           LOC="P121" | IOSTANDARD=LVTTL;                                # A5
NET LED(4)           LOC="P123" | IOSTANDARD=LVTTL;                                # A6
NET LED(5)           LOC="P124" | IOSTANDARD=LVTTL;                                # A7
NET LED(6)           LOC="P126" | IOSTANDARD=LVTTL;                                # A8
NET LED(7)           LOC="P127" | IOSTANDARD=LVTTL;                                # A9

# SWITCH
NET SW(0)            LOC="P116" | IOSTANDARD=LVTTL;                                # A0
NET SW(1)            LOC="P117" | IOSTANDARD=LVTTL;                                # A1
NET SW(2)            LOC="P118" | IOSTANDARD=LVTTL;                                # A2
NET SW(3)            LOC="P119" | IOSTANDARD=LVTTL;                                # A3
NET SW(4)            LOC="P120" | IOSTANDARD=LVTTL;                                # A4
NET SW(5)            LOC="P62"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C10
NET SW(6)            LOC="P59"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C11
NET SW(7)            LOC="P57"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C12


# VGA
NET VGA_RED(0)     LOC="P98"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D0
NET VGA_RED(1)     LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D1
NET VGA_RED(2)     LOC="P92"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D2
NET VGA_RED(3)     LOC="P87"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D3
NET VGA_GREEN(3)   LOC="P84"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D4
NET VGA_GREEN(2)   LOC="P82"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D5
NET VGA_GREEN(1)   LOC="P80"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D6
NET VGA_GREEN(0)   LOC="P78"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D7
NET VGA_BLUE(3)    LOC="P74"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D8
NET VGA_BLUE(2)    LOC="P66"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D9
NET VGA_BLUE(1)    LOC="P61"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D10
NET VGA_BLUE(0)    LOC="P51"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D13
NET VGA_VSYNC      LOC="P48"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D14
NET VGA_HSYNC      LOC="P39"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # D15
