# 12 MHz clock
set_io -nowarn CLK        35

# RS232
#set_io -nowarn RX          6
#set_io -nowarn TX          9
set_io -nowarn RXD          6
set_io -nowarn TXD          9

# LEDs and Button
#set_io -nowarn BTN_N      10
set_io -nowarn RESET      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A + 1B: 1BitSquared 12-bit DVI PMOD (TFP410), as in
# icebreaker-verilog-examples dvi-12bit
set_io -nowarn DVI_R[3]   4  # P1A1
set_io -nowarn DVI_R[1]   2  # P1A2
set_io -nowarn DVI_G[3]  47  # P1A3
set_io -nowarn DVI_G[1]  45  # P1A4
set_io -nowarn DVI_R[2]   3  # P1A7
set_io -nowarn DVI_R[0]  48  # P1A8
set_io -nowarn DVI_G[2]  46  # P1A9
set_io -nowarn DVI_G[0]  44  # P1A10
set_io -nowarn DVI_B[3]  43  # P1B1
set_io -nowarn DVI_CLK   38  # P1B2
set_io -nowarn DVI_B[0]  34  # P1B3
set_io -nowarn DVI_HS    31  # P1B4
set_io -nowarn DVI_B[2]  42  # P1B7
set_io -nowarn DVI_B[1]  36  # P1B8
set_io -nowarn DVI_DE    32  # P1B9
set_io -nowarn DVI_VS    28  # P1B10

# PMOD 2: PSRAM + microSD board (github.com/arthurbenemann/PMOD-PSRAM-SDCARD),
# same header positions as it had on PMOD 1A. SIO3 is also the microSD DAT3/CS.
set_io -nowarn RAM_SIO[0] 19
set_io -nowarn RAM_SIO[1] 25
set_io -nowarn RAM_SIO[2] 26
set_io -nowarn RAM_SIO[3] 21
set_io -nowarn RAM_CE_B   23
set_io -nowarn RAM_CLK    20
set_io -nowarn SD_CLK     27
set_io -nowarn SD_CMD     18

# clock constraints (nextpnr)
# nextpnr derives the PLL output (clk_spi) from the pad clock; the CPU clock
# (clk) comes from --freq
set_frequency CLK     12
set_frequency clk_pix 25.125
